html, body {
  color: white;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: none;
}

a { color: #5EA9DD !important; }

path { stroke: rgba(94, 169, 221, 0.5) !important }

/* make container, and thus map, 100% width */
.container {
	width: 100%;
	height: 100%;
}

#map_canvas{
  height:100%;
}
#tweets{
  position: absolute;
  top: 60px;
  left: 75px;
  z-index:1000;
  font-size: 30px;
}
.iframe{
  padding-top:0px;
}
.twitterinput {
  background-color: #5EA9DD;
}
.usertext{
  word-wrap: break-word;
}